

body{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 500px;
    padding: 10px 0px;
    border: 1px solid white;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;

}

.container h1,h2{
    font-weight: 600;
    line-height: 0.5;
}

.container h1{
    padding-bottom: 28px;
    border-bottom: 1px solid white;
    padding-left: 20px;
    
}

.question h2{
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}


.options{
    margin-left: 0;
}

.nextbtn{
    width: 100%;
}

.nextbtn button{
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 20px;
}

.options{
    padding-left: 20px;
    padding-right: 20px;
}

.options p{
    border: 1px solid white;
    padding: 10px 5px;
}

.options #phover:hover{
    background-color: #ccc;
    color: black !important;
}